<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>

    <div id="app">

        <header-component></header-component>

        <div class="container">
            <div class="row">
                <p class="center">Please type YouTube URL you like!</p>
                <div class="input-field col s12 m10">
                    <input v-model="url" placeholder="http://www.youtube.com/watch?v=hogehoge" type="text" class="validate">
                </div>
                <a v-on:click="addCard" class="waves-effect waves-light btn-large m2">
                    <i class="material-icons">send</i>
                </a>

            </div>
        </div>


        <div class="row">
            <div v-for="(card, index) in cards" :key = "card.id" class="col s12 m4">
                <!-- <movie-card :content = 'card'></movie-card> -->
                <div class="card">
                    <div class="card-image">
                        <iframe width="100%" height="auto" v-bind:src="embId(card.url)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="card-content center">
                        <p>Update: {{card.date | date-filter}}</p>
                    </div>
                    <div class="card-action center">
                        <a class="waves-effect waves-light btn" v-bind:href="card.url" target="_blank">
                        YouTube
                        </a>
                        <a v-on:click="removeCard(index)" class="waves-effect waves-light btn">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>

